<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="parc_auto" name="Parc Automobile" sequence="0"/>
        
        <!-- Configuration (existante) -->
        <menuitem id="parc_auto_conf" name="Configuration" parent="parc_auto" sequence="1"/>
            <menuitem id="parc_auto_voiture" name="Voiture" parent="parc_auto_conf" action="action_parc_automobile_voiture" sequence="1"/>
            <menuitem id="parc_auto_marque" name="Marque" parent="parc_auto_conf" action="action_parc_automobile_marque" sequence="2"/>
            <menuitem id="parc_auto_modele" name="Modèle" parent="parc_auto_conf" action="action_parc_automobile_modele" sequence="3"/>
            <menuitem id="parc_auto_client" name="Client" parent="parc_auto_conf" action="action_parc_automobile_client" sequence="4"/>
        
        <!-- Paramétrage (existante) -->
        <menuitem id="parc_auto_param" name="Paramétrage" parent="parc_auto" sequence="2"/>
            <menuitem id="parc_auto_assurance" name="Compagnie d'assurance" parent="parc_auto_param" action="action_parc_automobile_assurance" sequence="1"/>
            <menuitem id="parc_auto_carte_grise" name="Carte Grise" parent="parc_auto_param" action="action_parc_automobile_carte_grise" sequence="2"/>
            <menuitem id="parc_auto_contrat_location" name="Contrat de location" parent="parc_auto_param" action="action_parc_automobile_contrat_location" sequence="3"/>
            <menuitem id="parc_auto_employe" name="Employé" parent="parc_auto_param" action="action_parc_automobile_employe" sequence="4"/>
            <menuitem id="parc_auto_entretien" name="Entretien Auto" parent="parc_auto_param" action="action_parc_automobile_entretien" sequence="5"/>
        
        <!-- Nouvelle section : Opérations -->
        <menuitem id="parc_auto_operations" name="Opérations" parent="parc_auto" sequence="3"/>
            <menuitem id="parc_auto_affectation" name="Affectations" parent="parc_auto_operations" action="action_affectation" sequence="1"/>
            <menuitem id="parc_auto_carburant" name="Suivi Carburant" parent="parc_auto_operations" action="action_carburant" sequence="2"/>
            <menuitem id="parc_auto_document" name="Documents" parent="parc_auto_operations" action="action_document" sequence="3"/>
            <!-- Dans views/menu.xml -->
        <menuitem id="menu_dashboard" name="Tableau de Bord" parent="parc_auto" action="action_parc_dashboard" sequence="0"/>
    </data>
</odoo>